[Unit]
Description=AdGuard Home Exporter
After=network-online.target
Wants=network-online.target AdGuardHome.service

[Service]
Type=simple
Environment="ADGUARD_SERVERS=http://127.0.0.1:3000"
Environment="ADGUARD_USERNAMES=admin"
Environment="ADGUARD_PASSWORDS={{ vault_adguard_password }}"
Environment="INTERVAL=15s"
ExecStart=/usr/local/bin/adguard_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
