apiVersion: 1

contactPoints:
  - orgId: 1
    name: Sentinel
    receivers:
      - uid: sentinel-slack
        type: slack
        settings:
          url: {{ vault_slack_webhook_url }}
          channel: "#sentinel"
          username: Watchtower
          icon_emoji: ":sentinel:"
          title: |
            {{ "{{" }} .CommonLabels.alertname {{ "}}" }}
          text: |
            {{ "{{" }} range .Alerts {{ "}}" }}
            *Status:* {{ "{{" }} .Status | toUpper {{ "}}" }}
            *Description:* {{ "{{" }} .Annotations.description {{ "}}" }}
            *Severity:* {{ "{{" }} .Labels.severity {{ "}}" }}
            {{ "{{" }} end {{ "}}" }}
        disableResolveMessage: false

policies:
  - orgId: 1
    receiver: Sentinel
